@media only screen and (min-width: 1000px) {
   html {
      margin: 0 auto;
      width: 100%;
   }

   header img {
      max-width: 10%;
   }

   .homeH1 {
      padding: 3%;
   }

   .headings {
      z-index: 1;
      text-align: center;
   }

   .eloquent {
      font-size: 350%;
   }

   .chapter {
      margin:  0% 30% 0% 30%;
   }

   .taH1 {
      padding-top: 2%;
      font-size: 200%;
      padding-bottom: 2%;
   }

   .linkButton {
      padding: 1%;
      margin: 0.5%;
      font-size: 120%;
   }
}