@media only screen and (min-width: 450px) {
   html {
      max-width: auto;   

   }

   header h1 {
      text-align: center;
   }
   
   header h2 {
      text-align: center;
   }
   
   header img {
      padding-top: 0%;
      max-width: 15%;
   }

   .headings {
      padding-right: 4%;
   }

   nav ul li a, nav ul li a:visited {

      text-align: center;
   }

   nav ul {
      display: flex;
   }
}