@media only screen and (min-width: 600px) {
   html {
      max-width: auto;   

   }

   header h1 {
      text-align: center;
   }
   
   header h2 {
      text-align: center;
   }
   
   header img {
      padding-top: 0%;
      max-width: 15%;
   }

   .headings {
      text-align: center;
    
   }

   nav ul li a, nav ul li a:visited {
      text-align: center;
   }

   nav ul {
      display: flex;
      text-align: justify;
      width: 100%;
   }

   .navigation {
      display: flex;
    }
    .navigation li:first-child {
      display: none;
    }
    .navigation li {
      display: block;
      flex: 1 1 100%;
    }

    .noteCards {
       grid-template-columns: 1fr 1fr;
       row-gap: 25px;
    }

   .chapter {
      padding: 2%;
      margin: 0;
      font-size: 1.15em
   }

   .chapter button {
      font-size: 0.9em;
   }

   .notesH1 {
      font-size: 1.1em;
   }

   .headingText {
      font-size: 1.5em;
   }

   .index-main {
      height: 700px;
   }

   #mainHeader {
      font-size: 1.3em;
   }

   .index-h3 {
      margin-top: 4.5%;
      font-size: 1.3em;
   }

   .project {
      font-size: 1.2em;
      padding: 7%;
   }

   .project a{
      padding: 3%;
   }
   .taH1 {
      padding-top: 3%;
      font-size: 200%;
   }

   #footerDiv {
      font-size: 1.3em;
      padding: 4%;
   }

   .linkButton {
      margin: 1%;
      font-size: 120%;
   }
}