/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Code+Pro:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&family=Merienda&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Manrope&family=Merriweather&display=swap');:root {
   --oceanBlue: #48639c;
}

:root {
   --rich-black: #020202;
   --dark-liver-horses: #503B31;
   --umber: #705d56;
   --blue-bell: #9097C0;
   --wild-blue-yonder: #a7bbec;
}
/* 
* {
   outline: 2px solid red;
} */
*, html, body {
   font-family: "Josefin Slab", sans-serif;
   margin: 0;
   box-sizing: border-box;
   padding: 0;
   width: 100%;
   background-color: var(--rich-black);
}

header {
   color: var(--blue-bell);
   padding: 6% 4%;
   text-align: center;
   letter-spacing: 2.5px;
   text-transform: uppercase;
} 

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #3a3a3a;
   overflow: hidden;
   border: 2px solid var(--blue-bell);
}

/* ul {
   list-style-type: none;
   padding: 0;
   border: inset 3px white;

} */

.navigation li:first-child {
   display: block;
 }
 
 .navigation li {
   display: none;
 }

nav ul li {
   display: inline;
}

nav ul li a, nav ul li a:visited {
   font-family: "Permanent Marker", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
   display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.responsive li {
   display: block;
 }

 /* INdex Main */
 .index-main {
    height: 600px;
 }

 .index-h3 {
    margin-top: 10%;
    text-align: center;
    color: var(--blue-bell);
 }

 .projects {
    transform: translateY(100px);
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .project:nth-child(1) {
    border-right: 2px solid var(--wild-blue-yonder);
    border-bottom: 2px solid var(--wild-blue-yonder);
 }

 .project:nth-child(2) {
    border-bottom: 2px solid var(--wild-blue-yonder);
 }

 .project:nth-child(3) {
    border-right: 2px solid var(--wild-blue-yonder);
 }

.project {
   color: white;
   width: 100%;
   padding: 15%;
   text-align: center;
   margin-top: 2%;
   font-family: "Tangerine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1.2em;
   border: 4px outset black;
}

.project summary {
   color: white;
   z-index: 9999;
}

.project a, .project a:visited {
   display: inline-block;
   text-decoration: none;
   padding: 7%;
   font-size: 1em;
   font-weight: 700;
   color: var(--blue-bell);
}

/* Notes CSS */

.noteCards {
   width: 100%;
   margin: 0 auto;
   text-align: center;
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
}
.notes {
   font-family: "Josefin Slab", sans-serif;
   text-align: center;
   max-width: 100%;
   color: white;
}

#indexOL li {
   padding: 2%;
   list-style-type: none;
}

.pdfNotes a, .pdfNotes a:visited {
   color: white;
   background-color: #3a3a3a;
   text-decoration: none;
   padding: 2%;  
}

.tip {
   margin-top: 2%;
   color: green;
   font-size: 1.3em;
   font-weight: 700;
}

.chapter {
   padding: 5%;
   color: white;
   border: 2px #3a3a3a double;
   margin:  2% 5%;
   width: 75%;
   box-shadow: 0 0 5px whitesmoke;
}

.chapter h2,
.chapter h3 {
   padding: 2%;
}

.chapter button {
   margin-top: 1%;
   margin-bottom: 3%;
   padding: 1.5%;
   width: 50%;
}

.notesH1 {
   font-size: 0.8em;
   margin-top: 10%;
}

.notes {
   max-width: 100%;
}

.notes button {
   color:azure;
   background-color:olivedrab;
}

.trail {
   position: absolute;
   height: 12px; 
   width: 12px;
   background: linear-gradient(white,black);
   pointer-events: none;
   animation: roll 0.5s infinite;
   transform: rotate(30deg);
}

@keyframes roll {
   0% {
     transform: rotate(0);
   }
   100% {
     transform: rotate(360deg);
   }
 }

.textCenter {
   text-align: center;
}

.taH1 {
   font-family: inherit;
   color: var(--wild-blue-yonder);
   padding: 5% 0;
}

.gridContainer {
   width: 75%;
   margin: 0 auto;
   column-gap: 25px;
   row-gap: 25px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 5%;
}

.linkButton {
   display: inline-block;
   padding: 3% 2%;
   border: 1px solid black;
   margin: 2%;
   box-shadow: 0 0 10px var(--dark-liver-horses);
   line-height: 1em;
   text-decoration: none;
   color: white;
   background-color: var(--oceanBlue);
   font-family: "Mali", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 130%;
}

/*********************
      To-Do List
*********************/

.to-do-body {
   background-image: url('../img/oriental-tiles.png');
}

.to-do-main {
   font-family: "Tangerine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   width: 75%;
   margin-top: 2%;
}

.to-do-main h1:nth-child(1) {
   font-size: 230%;
   opacity: 95%;
   text-align: center;
   padding: 1%;
   border-left: 2px solid var(--blue-bell);
   border-right: 2px solid var(--blue-bell);
}

#footerDiv {
      font-size: 1em;
      font-family: inherit;
      text-align: center;
      padding: 5%;
      color: white;
      border: 3px white inset;
}

.taskDisplay {
   opacity: 95%;
   padding: 5% 2%;
   border-left: 2px solid var(--blue-bell);
   border-right: 2px solid var(--blue-bell);
}



 