@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Code+Pro:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&family=Merienda&display=swap');

:root {
   --oceanBlue: #48639c;
}

*, html, body {

   margin: 0 auto;
   width: auto;
}

header {
   background-color: darkslategrey;
   padding: 2%;
   padding-bottom: 5%;
}
header h1 {
   text-align: right;
}

header h2 {
   text-align: right;
}

.headings {
   color: white;
   font-family: "Monoton", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 2.5px;
   padding-top: 2%;
   padding-right: 10%;
}
header img {
   float: left;
   padding-top: 2%;
   padding-left: 2%;
   max-width: 100px;
}   

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #3a3a3a;
   overflow: hidden;
}

ul {
   list-style-type: none;
   padding: 0;
   border: inset 3px white;

}

.navigation li:first-child {
   display: block;
 }
 
 .navigation li {
   display: none;
 }

nav ul li {
   display: inline;
}

nav ul li a, nav ul li a:visited {
   font-family: "Permanent Marker", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
   display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.responsive li {
   display: block;
 }

.homeBanner {
   width: 100%;
}

.homeH1 {
   background-image: url(../img/homebanner.jpg);
   background-position:center;
   padding: 5%;
   color: white;
   border: 2px double white;
   border-top: none;
}

.homeBody {
   background-color: var(--oceanBlue);
}

.project {
   background-color: white;
   text-align: center;
   width: 50%;
   padding: 1%;
   margin-top: 2%;
   font-family: "Tangerine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 150%;
   border: 4px outset black;
}

.project h2 {
   font-size: 160%;
   font-weight: 700;
}

.project a, .project a:visited {
   display: inline-block;
   text-decoration: none;
   padding: 1%;
   margin-top: 2%;
   border: 1px solid black;
   background-color: #3a3a3a;
   color: white;
}

/* Notes CSS */
.notes {
   font-family: "Source Code Pro", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: center;
}

.pdfNotes {
   padding-top: 3%;
   padding-bottom: 3%;
   list-style-type: none;
}

.pdfNotes li {
   padding: 2%;
}

.pdfNotes a, .pdfNotes a:visited {
   color: white;
   background-color: #3a3a3a;
   text-decoration: none;
   padding: 2%;  
}


.eloquent {
   font-family: "Tangerine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 300%;
}

.tip {
   color: darkgreen;
   font-weight: 700;
}

.chapter {
   border: 7.5px #3a3a3a double;
   margin:  0% 5% 0% 5%;
}

.chapter button {
   margin-top: 1%;
   margin-bottom: 3%;
   padding: 1.5%;
}

.notes button {
   color:azure;
   background-color:olivedrab;
}

.trail {
   position: absolute;
   height: 12px; 
   width: 12px;
   background: linear-gradient(white,black);
   pointer-events: none;
   animation: roll 0.5s infinite;
   transform: rotate(30deg);
}

@keyframes roll {
   0% {
     transform: rotate(0);
   }
   100% {
     transform: rotate(360deg);
   }
 }

.textCenter {
   text-align: center;
}

.taH1 {
   font-family: "Mali", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-top: 5%;
}

.linkButton {
   display: inline-block;
   padding: 2%;
   border: 1px solid black;
   margin: 2%;
   line-height: 1em;
   text-decoration: none;
   color: white;
   background-color: var(--oceanBlue);
   font-family: "Mali", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 130%;
}

/*********************
      To-Do List
*********************/

.to-do-body {
   background-image: url('../img/oriental-tiles.png');
}

.to-do-main {
   font-family: "Tangerine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   width: 75%;
   
   border-top: 2px white inset;
   margin-top: 2%;
}

.to-do-main h1:nth-child(1) {
   font-size: 230%;
   background: white;
   opacity: 95%;
   text-align: center;
   padding: 1%;
}

#footerDiv {
      font-size: 130%;
      font-family: "Playfair Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background: floralwhite;
      text-align: center;
      padding: 1%;
      color: black;
      border: 3px white inset;
}

.taskDisplay {
   background: white;
   opacity: 95%;

   margin-top: 2%;
   border: 2px solid white;
   padding: 5% 0% 5% 0%;
}



 