@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Code+Pro:wght@300;700&display=swap');

* {
   margin: 0 auto;
   max-width: 100%;

}
header {
   display:inline-block;
   background-color: darkslategrey;
   padding: 2%;
   max-width: 100%;
}
header h1 {
   text-align: center;
}

header h2 {
   text-align: center;
}

.headings {
   color: white;
   font-family: "Permanent Marker", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 2.5px;
   padding-top: 5%;
   padding-right: 10%;
}
header img {
   float: left;
   padding-top: 2%;
   padding-left: 2%;
   width: 15%;
   box-shadow: 2% 2% white;
   border: 2px white;
}   