<!DOCTYPE HTML>
<html lang="en-us">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="WDD330 Web Frontend Development II, BYU-Idaho. Student: Mikhail Cedras">
   <title>WDD330 | Team Activities</title> 
     <!-- CSS -->
     <link rel="stylesheet" href="../css/small.css">
     <link rel="stylesheet" href="../css/medium.css">
     <link rel="stylesheet" href="../css/large.css">
     <link rel="stylesheet" href="../css/css-sandbox.css">

     <link rel = "shortcut icon" href = "../img/favicon.ico">
  </head>
<body>
   <main>
   <div id="mainHeader"></div>
   <div id='navDiv'></div>

   <h1 class="headingText">Box Shadows, Positions, and Rotation</h1>
   <div class="outer-box"><div class="transformed"><p class="divP">Diamonds in the Rough</p></div></div>
   <br>
   <h1 class="headingText">Transformations, Animation, and Keyframes</h1>
   <div class="parentWrapper">
      <p class="circleTitle">Hover over me to jump for joy!</p>
      <div class="circle"></div>
    </div>
    <h1 class="headingText">Playing with Canvas and Arcs</h1>
    <br><br>
    <canvas id="canvas" width="150"></canvas>
   </main>


   <script src="../snippets/header.js"></script>
   <script src="../snippets/nav.js"></script>
   <script src="../js/css-sandbox.js"></script>
   
</body>

<footer>
   <div id="footerDiv"></div>
   <script src="../snippets/footer.js"></script>
</footer>

</html>