<!DOCTYPE HTML>
<html lang="en-us">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="WDD330 Web Frontend Development II, BYU-Idaho. Student: Mikhail Cedras">
   <title>WDD330 | Team Activities</title> 
     <!-- CSS -->
     <link rel="stylesheet" href="../css/small.css">
     <link rel="stylesheet" href="../css/medium.css">
     <link rel="stylesheet" href="../css/large.css">
     <link rel="stylesheet" href="../css/css-sandbox.css">

     <link rel = "shortcut icon" href = "../img/favicon.ico">
  </head>
<body>
   <main>
   <div id="mainHeader"></div>
   <div id='navDiv'></div>

   
   </main>


   <script src="../snippets/header.js"></script>
   <script src="../snippets/nav.js"></script>
 
   
</body>

<footer>
   <div id="footerDiv"></div>
   <script src="../snippets/footer.js"></script>
</footer>

</html>