<!DOCTYPE HTML>
<html lang="en-us">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="WDD330 Web Frontend Development II, BYU-Idaho. Student: Mikhail Cedras">
   <title>WDD330 | Notes</title> 

   <!-- CSS -->
   <link rel="stylesheet" href="../css/small.css">
   <link rel="stylesheet" href="../css/medium.css">
   <link rel="stylesheet" href="../css/large.css">

   <link rel = "shortcut icon" href = "../img/favicon.ico">
</head>

<body>
   <div id="mainHeader"></div>
   <div id='navDiv'></div>

  
   <main class="notes">
      <h1 class="notesH1">WDD330 Notes</h1>


   <br>
   <br>
   <div class="noteCards">
      <h1 class="eloquent">Eloquent JS Chapter Challenges</h1>
      <p class="tip">Tip: Check the console to view the output!</p>
      <br>

      <div class="chapter">
      <h2>Chapter 2</h2>
      <h3>Chapter 2.1: Looping a Triangle</h3>
      <button type="button" onclick="loopTriangle()">Run Chapter 2.1</button>
      <br>
      <h3>Chapter 2.2: FizzBuzz</h3>
      <button type="button" onclick="fizzBuzz()">Run Chapter 2.2</button>
      <br>
      <h3>Chapter 2.3: Print a 8x8 Board</h3>
      <button type="button" onclick="chessBoard()">Run Chapter 2.3</button>
      </div>
      <br>
  
      <div class="chapter">
      <h2>Chapter 3</h2>
      <h3>Chapter 3.1: Minimums</h3>
      <button type="button" onclick="minimums()">Run Chapter 3.1</button>
      <br>
      <h3>Chapter 3.2: Recursion</h3>
      <button type="button" onclick="testingRecursion()">Run Chapter 3.2</button>
      <br>
      <h3>Chapter 3.3: Bean Counting</h3>
      <button type="button" onclick="beanCounting()">Run Chapter 3.3</button>
      </div>
      <br>


      <div class="chapter">
      <h2>Chapter 4</h2>
      <h3>Chapter 4.1: Sum of a Range</h3>
      <button type="button" onclick="sumRange()">Run Chapter 4.1</button>
      <br>
      <h3>Chapter 4.2: Reversing Arrays (Without Array Method)</h3>
      <button type="button" onclick="reverse()">Run Chapter 4.2</button>
      <br>
      <h3>Chapter 4.3: Array to List, List to Array</h3>
      <button type="button" onclick="runList()">Run Chapter 4.3</button>
      <br>
      <h3>Chapter 4.4: Deep Comparison</h3>
      <button type="button" onclick="deepComparison()">Run Chapter 4.4</button>
      </div>
      <br>

      <div class="chapter">
         <h2>Chapter 5</h2>
         <h3>Chapter 5.1: Flattening an Array</h3>
         <button type="button" onclick="reduceArr()">Run Chapter 5.1</button>
         <br>
         <h3>Chapter 5.2: Your Own Loop</h3>
         <button type="button" onclick="runOwnLoop()">Run Chapter 5.2</button>
         <br>
         <h3>Chapter 5.3: Everything (Every || Some)</h3>
         <button type="button" onclick="runEverything()">Run Chapter 5.3</button>
         <br>
      </div>
      <br>

      <div class="chapter">
      <h2>Chapter 6</h2>
      <h3>Chapter 6.1: Vector Class</h3>
      <button type="button" onclick="vectorType()">Run Chapter 6.1</button>
      <br>
      <h3>Chapter 6.2: Group Class</h3>
      <button type="button" onclick="groupClass()">Run Chapter 6.2</button>
      <br>
      <h3>Chapter 6.3: Iteratable Groups</h3>
      <button type="button" onclick="iteratableGroups()">Run Chapter 6.3</button>
      <br>
      <h3>Chapter 6.4: Borrowing a Method</h3>
      <button type="button" onclick="borrowMethod()">Run Chapter 6.4</button>
      </div>
      <br>


      <div class="chapter">
         <h2>Chapter 8</h2>
         <h3>Chapter 8.1: Retry</h3>
         <button type="button" onclick="retry()">Run Chapter 8.1</button>
         <br>
         <h3>Chapter 8.2: The Locked Box</h3>
         <button type="button" onclick="lockedBox()">Run Chapter 8.2</button>
         </div>

      <br>

      <div class="chapter">
      <h2>Chapter 14</h2>
      <h3>Chapter 14.1: Build a Table Dynamically</h3>
      <button type="button" id="tableButton" onclick="displayTable()">Run Chapter 14.1</button>
      <div id="mountains"></div>
      <h3>Chapter 14.2: <span>Count</span> Instances of Elements By Tag Name</h3>
      <button type="button" onclick="logElements()">Run Chapter 14.2</button>
      </div>

      <br>

      <div class="chapter">
         <h2>Chapter 15</h2>
         <h3>Chapter 15.1: Balloon Event Handler</h3>
         <br>
         <p id="balloon">🎈</p>
         <p class="tip">Use your Up and Down Arrow to change the size of the balloon!</p>
         <button type="button" onclick="balloonEvent()">Run Chapter 15.1</button>
         <br>
         <h3>Chapter 15.2: Mouse Trail</h3>
         <button type="button" onclick="mouseTrail()">Run Chapter 15.2</button>
         <button type="button" onclick="refreshPage()">Stop Chapter 15.2</button>
         <br>
         <h3>Chapter 15:3 Tab List</h3>
         <tab-panel>
            <div data-tabname="one">Tab one</div>
            <div data-tabname="two">Tab two</div>
            <div data-tabname="three">Tab three</div>
          </tab-panel>
         <button type="button" onclick="enableTabs()">Enable Chapter 15.3 Tabs</button>
      </div>
      <br>

      <div class="chapter">
         <h2>Chapter 18</h2>
         <h3>Chapter 18.1: Content Negotiation</h3>
         <button type="button" onclick="runNego()">Run Chapter 18.1</button>
         <br>
         <h3>Chapter 18.2: A JavaScript WorkBench</h3>
         <textarea id="code">return "hi";</textarea>
         <pre id="output"></pre>
         <button type="button" id="chap18_2button">Run Chapter 18.2</button>
      </div>
   </div>


      <br>
      
   </main>
   
   <script src="../js/main.js" ></script>
   <script src="../js/scripts.js"></script>
   <script src="../snippets/header.js"></script>
   <script src="../snippets/nav.js"></script>
 
</body>

<footer>
   <div id="footerDiv"></div>
   <script src="../snippets/footer.js"></script>
</footer>

</html>