<!DOCTYPE HTML>
<html lang="en-us">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="WDD330 Web Frontend Development II, BYU-Idaho. Student: Mikhail Cedras">
   <title>WDD330 | Notes</title> 

   <!-- CSS -->
   <link rel="stylesheet" href="/WDD330/css/small.css">
   <link rel="stylesheet" href="/WDD330/css/medium.css">
   <link rel="stylesheet" href="/WDD330/css/large.css">
</head>

<body>
   <div id="mainHeader"></div>
   <div id='navDiv'></div>
   <h1>WDD330 Notes</h1>
   
   <br>
   <ol id="indexOL">
      <header><img src="\C:\\" alt="WDD330 Logo Mikhail"><div class="headings"><h1>WDD330 Portfolio</h1><h2>Mikhail Cedras</h2></div></header>
   </ol>
   <script src="/WDD330/js/main.js" ></script>
   <script src="/WDD330/snippets/header.js"></script>
   <script src="/WDD330/snippets/nav.js"></script>
</body>

<footer>

</footer>

</html>