<!DOCTYPE HTML>
<html lang="en-us">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="WDD330 Web Frontend Development II, BYU-Idaho. Student: Mikhail Cedras">
   <title>WDD330 | Team Activities</title> 
     <!-- CSS -->
     <link rel="stylesheet" href="../css/small.css">
     <link rel="stylesheet" href="../css/medium.css">
     <link rel="stylesheet" href="../css/large.css">

     <link rel = "shortcut icon" href = "../img/favicon.ico">
  </head>
  
  <body class="textCenter">
   <div id="mainHeader"></div>
   <div id='navDiv'></div>
   <h1 class="eloquent textCenter taH1">WDD330 Team Activities</h1>

   <div class="gridContainer">
   <a class="linkButton" href="../ta02/index.html">Go to Team Activity 02</a>
   <a class="linkButton" href="../ta03/ta03.html">Go to Team Activity 03</a>
   <a class="linkButton" href="../ta04/ta04.html">Go to Team Activity 04</a>
   <a class="linkButton" href="../ta05/index.html">Go to Team Activity 05</a>
   </div>

   </ol>
   <!-- <script src="js/main.js" ></script> -->
   <script src="../snippets/nav.js"></script>
   <script src="../snippets/header.js"></script>
</body>

<footer>

</footer>

</html>