<!DOCTYPE HTML>
<html lang="en-us">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="WDD330 Web Frontend Development II, BYU-Idaho. Student: Mikhail Cedras">
   <title>WDD330 | To-Do List</title> 
     <!-- CSS -->
     <link rel="stylesheet" href="../css/small.css">
     <link rel="stylesheet" href="../css/medium.css">
     <link rel="stylesheet" href="../css/large.css">
     <link rel="stylesheet" href="../css/todo/styles.css">

     <link rel = "shortcut icon" href = "../img/favicon.ico">
  </head>
  
  <body class="to-do-body">
  
   <div id="mainHeader"></div>
   <div id='navDiv'></div>
   <main class="to-do-main">
   <h1>To-Do List</h1>

      <div class="taskDisplay">

         <div id="dailyTasks">
         </div>

         <div class="filterOptions"></div>

         <label for="content"></label>
         <input type="text name="content" id="content">
         <button type="button" id="addTask" placeholder="Add Notes here">+</button>
         <br><br>
         <button type="button" id="clearTask">Clear all</button>

      </div>
   
   </main>
   <!-- <script src="js/main.js" ></script> -->
   <script src="../snippets/nav.js"></script>
   <script src="../snippets/header.js"></script>
   <script type="module" src="../js/todo/main.js"></script>
</body>
<br> <br>
<footer>
  
   <div id="footerDiv"></div>
   <script src="../snippets/footer.js"></script>
</footer>

</html>