@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Cinzel&family=Noto+Serif+Display:ital,wght@0,300;1,400&display=swap');


.taskDisplay {
   font-family: "Cinzel", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* 
.dailyTasks ul li{
   display: flex;
   flex-direction: row;
} */

#tasks {
   border: none;
   display: flex;
   flex-direction: column;
   grid-gap: 0px;
}

#tasks div{
   width: 100%;
   display: flex;
   align-items: center;
}



#tasks div input {
   position:relative;
   margin: 0;
   width: 30px;
   height: 30px;;


}
/* 
#tasks div input, #tasks div p {
   text-align: left;
} */

.deleteTask {
   color: red;
}